@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    display: flex;
    justify-content: center;
    background-color: #e0d5c1;
  }
  



@font-face {
  font-family: 'Laundry';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}



@font-face {
  font-family: 'LSY';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


